@import "tailwindcss";

/* Light mode (default) */
:root {
  --color-primary: #FF8A00FF;
  --color-primary-dark: #e68a00;
  --color-bg: #ffffff;
  --color-bg-secondary: #f5f5f5;
  --color-text: #171717;
  --color-text-light: #666666;
  --color-border: #e0e0e0;
  --color-card-bg: #ffffff;
  --color-inp-bg :#f3f1f1;
  --color-input-bg: rgb(243, 243, 243);
}

/* Dark mode */
html.dark {
  --color-primary: #FF8A00FF;
  --color-primary-dark: #ffb84d;
  --color-bg: #0a0a0a;
  --color-bg-secondary: #1a1a1a;
  --color-text: #ededed;
  --color-text-light: #999999;
  --color-border: #333333;
  --color-card-bg: #1a1a1a;
  --color-input-bg: #e9e6e6;
  --color-inp-bg : #27272AFF;
;
}

/* Dark mode via système */
@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #ff9d00;
    --color-primary-dark: #ffb84d;
    --color-bg: #0a0a0a;
    --color-bg-secondary: #1a1a1a;
    --color-text: #ededed;
    --color-text-light: #999999;
    --color-border: #333333;
    --color-card-bg: #1a1a1a;
    --color-input-bg: #666666;
    --color-input-bg: #e9e6e6;
  }
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

@theme inline {
  --color-primary: #FF8A00FF;
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  @apply transition-colors duration-200;
}

body {
  @apply bg-[(--color-bg)] text-[(--color-text)];
}

html {
  color-scheme: light dark;
}
